body {
  background: #25313e;
  color: #fff;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  /* padding-top: 2rem; */
}

footer {
  text-align: center;
}
footer img {
  width: 30px;
  height: auto;
  opacity: 0.35;
}
footer small {
  color: #506479;
  font-size: 0.9rem;
}

h1 {
  color: #506479;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1;
}

p {
  text-align: center;
  margin-bottom: 2rem;
}

.window {
  width: 80%;
  margin: 0 auto 2rem;
  box-shadow: 0 0.25rem 0.5rem #12181e;
  border-radius: 0 0 0.1rem 0.1rem;
}

.bar {
  background: #000; /* Change to a darker color than the body background */
  height: 50px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #222;
  color: #fff;
}
.window-controls {
  display: flex;
  gap: 5px;
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}
.red {
  background-color: #e74c3c;
}
.yellow {
  background-color: #f1c40f;
}
.green {
  background-color: #2ecc71;
}
.username {
  flex-grow: 1;
  text-align: center;
}
.icons {
  display: flex;
  gap: 15px;
}

.body {
  height: 10rem;
  background: #232323;
  padding: 18px;
  padding-bottom: 100px; /* Adjust this value based on the size of your buttons to prevent overlap */
}
.body pre {
  margin: 0;
}
.body .pulse {
  -webkit-animation: pulse 1s ease-in-out infinite;
  -moz-animation: pulse 1s ease-in-out infinite;
  animation: pulse 1s ease-in-out infinite;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.command {
  color: #32c146;
}

.comment {
  opacity: 0.5;
}
.prompt {
  color: #506479;
  width: 200%;
}

.input {
  width: 200%; /* Adjust this value as needed */
}
.controls-container {
  gap: 20px; /* Add margin between the buttons */
  margin-right: 20px; /* Add margin between the spans */
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: transparent; /* Adjust based on your preference */
}
