@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #25313e;
  background: #000000;
  color: #fff;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  font-family: 'Fira Code', monospace;
  font-family: 'DM Mono', sans-serif;
                                                
  font-weight: 400;
  font-size: 22px;
  line-height: 1.8;
  
}

footer {
  text-align: center;
}

footer img {
  width: 30px;
  height: auto;
  opacity: 0.35;
}

footer small {
  color: #506479;
  color: black;
  font-size: 0.9rem;
}

h1 {
  color: #506479;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1;
}

p {
  text-align: center;
  margin-bottom: 2rem;
}

.window {
  width: 80%;
  margin: 0 auto 2rem;
  box-shadow: 0 0.25rem 0.5rem #12181e;
  border-radius: 0 0 0.1rem 0.1rem;
  /* height: 50vh; */
  height: 90vh;
}

.bar {
  background: #191919;

  background: rgba(0, 0, 0, 0.4)
  height: 36px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.btn::before,
.btn::after,
.btn {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: block;
}

.btn {
  background: #f6b73e;
  position: relative;
  margin-left: 38px;
  top: 12px;
}

.btn::before,
.btn::after {
  content: " ";
  position: absolute;
}

.btn::before {
  background: #f55551;
  margin-left: -20px;
}

.btn::after {
  background: #32c146;
  margin-left: 20px;
}

.body {
  height: 90vh;
  background: #000000;
  padding: 18px;
}

.body pre {
  margin: 0;
}

.body .pulse {
  -webkit-animation: pulse 1s ease-in-out infinite;
  -moz-animation: pulse 1s ease-in-out infinite;
  animation: pulse 1s ease-in-out infinite;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
  
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.command {
  color: #32c146;
}

.comment {
  opacity: 0.5;
}

body {
  font-size: 16px;
}


.input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
  margin:0px;
  border-radius: 4px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-top: 10px;
margin-bottom: 10px;
  /* background-color: rgba(255, 0, 0, 0.1); */


}

.controls {
  display: flex;
  gap: 5px;
}

.control-button {
  background-color:rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 12px;
  margin: 2px;
}
.btn-img-ai {
  width: 39px; /* Adjust as needed */
  height: 39px;
  
}
.btn-img-err {
  width: 33px; /* Adjust as needed */
  height: 33px;
}
.btn-img-help {
  width: 34px; /* Adjust as needed */
  height: 34px;
}
.control-button:hover {
  background-color: #333;
}

.input {
  background: none;
  border: none;
  color: #fff;
  /* font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial,
    sans-serif; */
    font-family: "Monaco", Courier, monospace;
    font-family: 'Fira Code', monospace;  
    font-family: 'DM Mono', sans-serif;
  font-size: 22px;
  outline: none;
  margin: 0;
  margin-left: 2px;
  padding: 1px;
  display: inline;
  line-height: 1.5;
  width: 600px;
}
.input-arrow {
  color: #00ccff;
  font-weight: bold;
  font-size: 20px;
}
.input:focus {
  outline: none;
}

.prompt {
  color: #38597c;
}

.output {
  color: #32c146;
}

.error {
  color: red;
  /* background-color: #181e25; */
  /* background-color: #000000; */
  font-size: 18px;
  white-space: pre-wrap;
 
  padding: 10px;
  padding-bottom: 0px;
  margin-top: 10px;

  padding: 10px;
  margin-top: 10px;
  border-image: linear-gradient(
    to right,
    #833ab4,
    #fd1d1d,
    #fcb045
    
  );
  border-image-slice: 1; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);  
  line-height: 1.3;
  font-family: 'Fira Code', monospace;
  /* font-family: 'DM Mono', sans-serif; */
  font-weight: 400;
  font-size: 18px;
  /* border-radius: 6px; */
}


.ai {
  /* background-color: #181e25; */
  color: papayawhip;
 
  white-space: pre-wrap;
/* Set border to transparent */
  padding: 0px;
  margin-top: 10px;
  justify-content: center;
  text-align: left;
  border-image: linear-gradient(
    to right,
    #fc00ff,
    #00dbde
    
  );
  border-image-slice: 1; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);  
  line-height: 1.3;
  font-size: 18px;
   font-family: 'DM Mono', sans-serif;
}

.help {
  color: rgb(231, 226, 117);
  /* background-color: #181e25; */
  /* white-space: pre-wrap; */
  justify-content: left;
  text-align: left;
  padding: 0px;
  margin-top: 10px;
  /* Use border-image to set the gradient */
  border-image: linear-gradient(
    to right,
    #fdfc47,
    #24fe41
    
  ); /* Adjust colors as needed */
  border-image-slice: 1; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);  
  line-height: 1.3;
  font-size: 18px;
}
.ai-error-sol {
  color: rgb(208, 163, 227);
  /* background-color: #181e25; */
  font-size: 16px;

  /* white-space: pre-wrap; */
  justify-content: left;
  text-align: left; 
  padding: 0px;
  margin-top: 10px;
  

  /* Use border-image to set the gradient */
  border-image: linear-gradient(
    to right,
    #00F260,
    #0575E6
  ); /* Adjust colors as needed */
  border-image-slice: 1; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
  line-height: 1.3;
  font-size: 18px;
}

.comment {
  opacity: 0.5;
}

.window {
  width: 100%;
  margin: 0 auto 2rem;
  box-shadow: 0 0.25rem 0.5rem #12181e;
  border-radius: 0 0 0.1rem 0.1rem;
  border-radius: 0.5rem;
}

.bar {
  background: #191919;
  height: 36px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.btn::before,
.btn::after,
.btn {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: block;
}

.btn {
  background: #f6b73e;
  position: relative;
  margin-left: 38px;
  top: 12px;
}

.btn::before,
.btn::after {
  content: " ";
  position: absolute;
}

.btn::before {
  background: #f55551;
  margin-left: -20px;
}

.btn::after {
  background: #32c146;
  margin-left: 20px;
}

.collab-btn {
  position: absolute;
  margin-left:730px;
}

.body {
  background: #232323;
   background: #232323;
   background: rgb(0, 0, 0);
  /* background: #181E25; */
  padding: 18px;
  min-height: 100px;
  /* Minimum height to prevent collapse */
  height: auto;
  /* Allow height to adjust automatically */
  overflow-y: auto;
  /* Add vertical scrollbar if content exceeds height */
  

}

.body pre {
  margin: 0;
}

.transparent .prompt {
  opacity: 0.5;
  /* Adjust opacity as needed */
}

.title {
  color: #fff;
  font-size: 3rem;
  /* Increase title font size */
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  /* Adjust margin as needed */
}

.subtitle {
  color: #ddd;
  /* Darker color for subtitle */
  font-size: 1.2rem;
  /* Adjust subtitle font size */
  text-align: center;
  margin-bottom: 2rem;
  /* Adjust margin as needed */
  font-style: italic;
  /* Italicize subtitle */
}

.body {
  /* background: #1a1818; */
  background: #181e25;
  background: #000000;
  background: #161c22;
  padding: 18px;
  
  /* font-family: "Monaco", Courier, monospace; */
  /* Monospace font for authenticity */
}


.output {
  /* background-color: #181e25;
  background-color: #000000; */
  color: #32c146;
  font-size: 16px;
  white-space: pre-wrap;
  /* border: 1px solid transparent;  */
  /* Set border to transparent */
  padding: 20px;

  /* border-radius: 6px;
  /* Use border-image to set the gradient */
  border-image: linear-gradient(
    to right,
    #00c3ff,
    #ffff1c
  ); /* Adjust colors as needed */
  border-image-slice: 1; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);  */
  margin-bottom: 10px;
  font-family: 'Fira Code', monospace;
  /* font-family: 'DM Mono', sans-serif; */
  font-weight: 400;
  line-height: 1.3;
  font-size: 18px;
/* Ensure the entire border is covered by the gradient */
}

.command-container {
  border: 1px solid #a9ff54;
  /* Bright border */
  background-color: rgba(16, 15, 15, 0.3);
  /* Light grey inner color */
  margin-bottom: 10px;
  /* Spacing between command containers */
  padding: 10px;
  /* Padding inside container */
  border-radius: 12px;
  /* Border radius */
}

.line-separator {
  margin: 10px 0;
  /* Adjust margin as needed */
  height: 1px;
  /* Height of the line */
  background-color: #4efff4;
  /* Blue color for the line */
  border: none;
  /* No border */
}



.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.chart-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
/* Set footer background color */
#main-footer {
  background: #191919;
  color: #ffffff; /* Set text color */
  border-radius: 0 0 0.5rem 0.5rem; 
  position:relative;
  bottom: 0;
  /* margin-bottom: 2rem; */
  height: auto;

}
#memory-usage,
#ram-usage {
    color: white;
    margin-right: 50px;
}

.footer-content {
  display: flex;
  background: #030712;
  
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: stretch;
  height: 66px;
  width: 100%; /* Adjust width as needed */
  text-align: center;
  padding: 10px;
  border-radius: 0 0 0.5rem 0.5rem;


}

#memory-usage{
  font-size:18px;
  font-weight: bold;
  color:#55a0b3;

  /* padding-top: 8px;
  padding-bottom: 8px;  */

}
#cpu-usage{
  font-size:18px;
  font-weight: bold;
  color: #c07474;
  padding: 15px; /* Add padding */
  margin: 15px; /* Add margin */
}

#memory-chart,
#cpu-chart,
#internet-speed-chart {
  width: 600px; /* Adjust width as needed */
  height: 200px; 
  margin: 3px 10px; 
/* Keep height as it is */
}

.chart-icon-memory {
  height: 46px;
  width: 46px;
}
.chart-icon-cpu {
  height: 40px;
  width: 40px;
}
.chart-icon-internet {
  height: 40px;
  width: 40px;
}
/* Style the content within the footer */
.usage-info {
  display: flex;
  align-items: center; /* Center items vertically */
 /* Add margin around each usage info */
}

.usage-info img {
  height: 40px;
  width: 40px;
  margin-right: 10px; /* Add some space between image and text */
}

.usage-info span {
  font-size: 18px;
  font-weight: bold;
}

.usage-info canvas {
  width: 600px; /* Adjust width as needed */
  height: 200px; 
  margin-left: 20px; /* Add some space between graph and next usage info */
}
::-webkit-scrollbar {
  display: none;
  }
  /* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
/* Specify in CSS */
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}
.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}
